#app {
    font: 14px "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    color: #0b97c4;
    min-width: 550px;
    max-width: 850px;
    margin: 0 auto;
}

a.active{
    color: #710909;
}

nav{
    padding-top: 20px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}